*{
    margin: 0;
    box-sizing: border-box;
}


.txt{
    margin-top: 100px;
    
}

.img-fluid{
   height: 350px;
   width: 350px;
  border-color: rgb(6, 107, 169);
}

.heading{
margin-top: 100px;

}


.bxl-html5{
    font-size: 40PX;
    color: rgb(255, 168, 6);
}

.item-1{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 590;
    font-size: x-large;
}
.item-1:hover{
    color: rgb(249, 165, 10);
}

.bxl-css3{
    font-size: 40PX;
    color: rgb(16, 170, 231);
}

.item-2{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 590;
    font-size: x-large;
}

.item-2:hover{
    color: rgb(11, 169, 232);
}

.bxl-javascript{
    font-size: 40px;
    color: yellow;
}

.item-3{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 590;
    font-size: x-large;
}

.item-3:hover{
    color: yellow;
}

.bxl-nodejs{
    font-size: 40px;
    color: rgb(16, 238, 16);
}

.item-4{
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: x-large;
    font-weight: 500;
}

.item-4:hover{
    color: rgb(31, 216, 31);
}

.bxl-django{
    font-size: 40px;

}

.item-5{
    position: absolute;
    top: 10px;
    left: 65px;
    font-size: x-large;
    font-weight: 500;
}

.item-5:hover{
    color: rgb(115, 118, 119);
}


.bxl-mongodb{
    font-size: 40px;
    color: green;
}

.item-6{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 500;
    font-size: x-large;
}

.item-6:hover{
    color: darkgreen;
}

.bxl-bootstrap{
    font-size: 40PX;
    color: blueviolet;
}

.item-7{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 500;
    font-size: x-large;
}

.item-7:hover{
    color: blueviolet;
}

.bxl-react{
    font-size: 40PX;
    color: aqua;
}

.item-8{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 500;
    font-size: x-large;
}

.item-8:hover{
    color: aqua;
}

.bxl-vuejs{
    font-size: 40px;
    color: darkcyan;
}
.item-9{
    position: absolute;
    top: 10px;
    left: 60px;
    font-weight: 500;
    font-size: x-large; 
}

.item-9:hover{
    color: darkcyan;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project{
    margin-top: 100px
}


.services{
    background-color: rgb(11, 183, 251)

}

.bxl-jquery{
    font-size: x-large;
    color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}